#ValCal {
  .t1 {background: #D9EAD3; color: #262626 !important;}
  .t2 {background: #B6D7A7; color: #262626 !important;}
  .t3 {background: #93C47C; color: #262626 !important;}
  .t4 {background: #6AA84F; color: white;}

  .ctr-body {
    background-color: white;
    padding: 3em;
  }
  .title {
    padding: 8em 0 4em;

    h1 {
      font-size: 3.5em;
      span {
        color: $primary-green;
      }
    }
    em {color: $gray-3; font-weight: 200;}

    h3 {margin: 1em 0;}

    .goal-progress {
      margin: 2em 0;

    }
  }



  .tiers {
    table {
      box-shadow: $shadow;
    }
}
  .cycles {
    margin: 1em 0 1em 0;

    h2 { margin: 0 0 .5em 0;}
    h4 {margin: .2em .5em;}

    .cycle {
      width: 100%;
      margin: 2em 0;

      .blurb {


        .ctr-user_edit {
          .current_tier {
            height: .5rem;
            width: .5rem;
            border-radius: 2em;
            padding: 1em 2em;
            color: white;
            box-shadow: $shadow;
          }

        }
      }

      .delete-modal,
      .edit-cycle {
        min-height: 1em;
        margin: 1em 0;
        padding: 3em 1em;
        box-shadow: $shadow;

        .delete-modal {
            width: 50%;
            margin: 0 auto;
            position: fixed;
            bottom: 50%;
            background: white;
            z-index: 99999;
            min-height: 1em;
            margin: 1em 0;
            padding: 3em 1em;
            box-shadow: $shadow;

          .ctr-actions {
            .delete-final-btn,
            .delete-cancel-btn {
              right: 1em;
              bottom: 1em;
              box-shadow: $shadow;
              border-radius: 2em;
              padding: .6em .9em;
              margin: 10px;
              color: white;
            }

            .delete-final-btn {
              background:red;
              &:hover { background: darkred; }
            }
            .delete-cancel-btn {
              background:$gray-2;
              &:hover { background: $gray-3; }
            }
          }
        }
      }

      .delete-btn,
      .edit-btn {

        right: 1em;
        bottom: 1em;
        box-shadow: $shadow;
        border-radius: 2em;
        padding: .6em .9em;
        margin: -0.5em 1em 0 1em;
        color: white;



      }
      .edit-btn {
        background:$primary-blue;
        &:hover { background: $pb-hover; }
      }
      .delete-btn {
        background:red;
        &:hover { background: darkred; }
      }
    }

    table {
      box-shadow: $shadow;
      margin: 1em 0;

      .sub_head {font-weight: 400;}
      .total {font-weight: 300;}
      input {
        max-width: 6em;
        border: none;
        border-bottom: 1px solid $gray-1;
        padding: 0.5em;
      }
      thead {
        tr {
          td {
            strong {color: $primary-blue !important;}
          }
        }
      }
      tbody {
        tr {
          td {
            &:hover { cursor: pointer; }
          }
        }
      }
    }
  }

  .editing {
    box-shadow: $shadow;
    padding: 1em;
    position: sticky;
  }

  .saveChanges {
    .save-btn {
      background: $primary-green;
      right: 1em;
      bottom: 1em;
      box-shadow: $shadow;

      &:hover {background: $pg-hover;}
    }

    .clone-btn {
      right: 1em;
      bottom: 4em;
      background: $primary-blue;

      &:hover{background: $pb-hover;}
    }

    .clone-btn,
    .save-btn {
      float: right !important;
      border-radius: 2em;
      position: fixed;
      color: white;
      box-shadow: $shadow
    }
  }
}
